* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: clamp(300px, 50%, 350px) 1fr;
}

.sidebar {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20px;
  gap: 30px 0px;
  grid-template-rows: 100px 1fr;
  background-color: rgb(59, 59, 243);
}

/* Try to use grid-template-areas to put all sidebar img on one side,
   sidebar links on other side */

.sidebar img {
  width: 30px;
}

.sidebar .dash-img {
  width: 60px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(898%) hue-rotate(19deg) brightness(114%) contrast(100%);
}

.dash-section {
  display: grid;
}

.dash-section a {
  display: grid;
  grid-template-columns: 70px;
  grid-auto-flow: column;
  align-items: center;
}

/* 
.dash-section span {
  grid-column: 2;
} */

/* .dash-section a {
  grid-column: 2;
} */

/* .dash-section {
  grid-column: 2;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
} */

.links {
  /* grid-column: 2; */
  grid-row: 2;
  display: grid;
  grid-template-rows: min-content min-content;
  /* align-items: start; */
  /* grid-template-columns: auto auto; */
}

.links .group-one,
.links .group-two {
  display: grid;
  gap: 20px;
  font-weight: bold;
}

.links .group-one {
  margin-bottom: 70px;
}

.group-one li {
  display: grid;
  grid-template-columns: min-content min-content;
}

.group-one li a {
  grid-column: 2;
}

/* .links li {
  display: flex;
  align-items: center;
  gap: 40px;
} */

.sidebar ul,
.dash-section {
  list-style-type: none;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

/* .dash-section svg {
  width: 75px;
} */

.dash-section a {
  font-size: 2rem;
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-rows: 50px 100px;
  height: 175px;
  padding: 10px 40px;
  background-color: cadetblue;
}

.header-top {
  display: grid;
  /* grid-column: 1 / 3; */
  grid-template-columns: 2fr 1fr;
}

.header-top-left {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
  gap: 20px;
}

.header-top-right {
  display: grid;
  grid-template-columns: 25px 40px auto;
  justify-content: end;
  align-content: center;
  align-items: center;
  gap: 30px;
  grid-column: 2;
}

svg {
  height: 25px;
  display: inline;
}

.header-top img {
  height: 50px;
  border-radius: 50%;
}

.header-top input[type="search"] {
  height: 30px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  background-color: #ddd;
  padding: 0 10px;
}

.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  align-items: center;
}

.greeting {
  align-self: center;
  font-weight: bold;
}

.greeting-primary {
  font-size: 1.75rem;
  /* margin-top: 5px; */
}

.header-bottom img {
  height: 75px;
  border-radius: 50%;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 75px auto;
  gap: 30px;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}